.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a { color:
        hsl(228, 45%, 44%);
}

.cardBox {
    border-radius: 10px;
    box-shadow: 0 20px 30px -10px hsl(229, 6%, 66%);
    margin: 24px 12px;
    max-width: 350px;
    padding: 24px;
    width: 100%;
}

.cardBoxHeaderContainer {
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.cardBoxIconContainer {
    align-items: flex-end;
    align-self: end;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.cardGrid {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 1300px) {
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,auto);
    }
}

.cardGridCol {
    @media (max-width: 1300px) {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

.headerLabel {
    align-items: center;
    align-self: center;
    text-align: center;
}

.headerP {
    align-items: center;
    display: flex;
    justify-content: center;
}

.topBorderGreen {
    border-top: 4px solid hsl(180, 62%, 55%);
}

.topBorderRed {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.topBorderYellow {
    border-top: 4px solid hsl(34, 97%, 64%);
}

.topBorderBlue {
    border-top: 4px solid hsl(212, 86%, 64%);
}

* {
    box-sizing: border-box
}

body {
    align-items: center;
    background-color: hsl(0, 0%, 98%);
    color: hsl(229, 6%, 66%);
    display: flex;
    flex-direction: column;
    font-family: Poppins,sans-serif;
    justify-content: center;
    margin: 0 32px;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}

h2 {
    color: hsl(234, 12%, 34%);
}

header p {
    align-items: center;
    align-self: center;
    justify-content: center;
    letter-spacing: 1px;
    margin-bottom: 36px;
    margin-top: 24px;
    max-width: 500px;
    text-align: center;
    width: 100%;
}

label {
    color: hsl(234, 12%, 34%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

main {
    margin: 85px 0;
}

p {
    line-height: 150%;
}